 /* da cards.css */


 .carte{
    
}
 .card{
    width: 18rem;
    text-align: center;
    border: none;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-text{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: larger;

}

.card-img-top{
    height: 290px;
    width: 290px;
}

h1{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;

    margin-top: 30px;
    text-align: center;
}

p{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;

}
/* fine */

.card-img-top{
    height: 200px;
    width: 200px;
}

.image{
    margin-right: 20px;
    cursor: pointer;
}


h1{
    text-align: left;
    color: aliceblue;
}

.col-8{
    display: flex;
}

p{
    width: 500px;
    color: aliceblue;
}

.cont1{
    padding: 30px;
    margin-top: -6px;
    max-width:100%;
    position: relative;
    display: flex;
}

.cont2{
    max-width:100%;
    color:aliceblue;
    font-family: "Jost", sans-serif;
    font-size: larger;
}

.caroselloargomenti{
    height: 500px;
    width: 900px;
    border-radius: 3%;
    margin-bottom: 25px;
}

@media (max-width: 576px) { 
    .card-img-top{
        width: 100px;
        height: 100px;
    }
    .titCard{
        font-size: 32px;
    }
    .txtCard{
        display: none;
    }
    .spazio{
        display: none;
    }
    .corpoCard{
        width: 300px;
    }
    .caroselloargomenti{
        height: 200px;
        width: 100%;
        border-radius: 3%;
        margin-bottom: 25px;
    }
    .h2Card{
        margin-top: 10px;
    }
    .pCard{
        font-weight: 300;
    }
    .carte{
    }
    
 }

 @media (max-width: 1024px) { 
 .txtCard{
    width: 130%;
    }
    .testocarosello{
        width: 80%;
    }
    .h2Card{
        margin-top: 20px
    }
    .caroselloargomenti{
        width: 100%;
        height: auto;
    }
}

@media (min-width: 993px) { 
    
 }





